*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #77f3ac, #657ced);
    font-size: 62.5%;
}

.container {
    position: absolute;
    width: 35rem;
    /* min-width: 580px; */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 40px 10px;
    display: grid;
    justify-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 6px;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3rem;
}

input[type="text"] {
    width: 90px;
    font-weight: 600;
    color: #663399;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 6px;
    border: 2px solid #202020;
    outline: none;
}

button {
    width: 160px;
    padding: 15px 0;
    border-radius: 6px;
    background-color: #663399;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

p {
    font-weight: 400;
}